@using Nemocnice.DTOs
@model DoctorViewDto


<div>
	@if (Model.AllDoctors.Count() != 0)
	{
	<table>
		<thead>
			<tr>
				<th>Jmeno</th>
				<th>Prijmeni</th>
				<th>Specializace</th>
				<th>Akce</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model.AllDoctors)
			{
				<tr>
					<td>@item.Name</td>
					<td>@item.SureName</td>
					<td>@item.SpecializationStr</td>
					<td>
						<div class="btn-container">
							<form method="post">
								<button class="akce-btn" type="submit" asp-action="Delete" asp-controller="Doctor"
										asp-route-id="@item.Id">
									Delete
								</button>
							</form>
							<form method="get">
								<button class="akce-btn" type="submit" asp-action="Edit" asp-controller="Doctor"
										asp-route-id="@item.Id">
									Edit
								</button>
							</form>
						</div>
					</td>
				</tr>
			}
		</tbody>
	</table>
	}

	<button class="create-btn">
		<a asp-controller="Doctor" asp-action="Create">Create</a>
	</button>



	<style>
		table, td, th {
			border: solid red;
			padding: 10px 20px;
			text-align: center;
		}

		.create-btn {
			margin: 12px 0px;
			padding: 10px 20px;
			background-color: yellow;
			border-radius: 10px;
			border: none;
		}

		.akce-btn {
			margin: 8px;
			padding: 4px 8px;
			background-color: lightgreen;
			border-radius: 8px;
			border: none;
		}

		a {
			text-decoration: none;
			color: black;
		}

		.btn-container {
			display: flex; 
			gap: 10px; 
			justify-content: center; 
			align-items: center; 
			margin: 20px 0; 
		}
	</style>



